<mat-grid-list cols="3" rowHeight="3:1">
  <form class="advanced-settings">
    <mat-grid-tile>
      <mat-form-field class="similarity-requests">
        <mat-label>Similarity requests:</mat-label>
        <input matInput type="number" placeholder="100" value="100">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field class="candidate-requests">
        <mat-label>Candidate requests:</mat-label>
        <input matInput type="number" placeholder="25" value="25">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="string-similarity">
        <mat-label>String similarity:</mat-label>
        <input matInput type="number" placeholder="5" value="5">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="record-similarity">
        <mat-label>Record similarity:</mat-label>
        <input matInput type="number" placeholder="1" value="1">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>

      <mat-form-field class="distribution-variance">
        <mat-label>Distribution variance:</mat-label>
        <input matInput type="number" placeholder="4" value="4">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="error-threshold">
        <mat-label>Error threshold:</mat-label>
        <input matInput type="number" placeholder="8" value="8">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="traversal-depth">
        <mat-label>Traversal depth:</mat-label>
        <input matInput type="number" placeholder="2" value="2">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="functionality-threshold">
        <mat-label>Functionality threshold:</mat-label>
        <input matInput type="number" placeholder="99" value="99">
      </mat-form-field>
    </mat-grid-tile>
  </form>
</mat-grid-list>

<br>
<button>Save</button>
