<div class="panel-header panel-header">
  <h2>Welcome to FiLiPo</h2>
  <h3>Start the alignment here</h3>
</div>
<br>
<br>

<div class="main-content">

 <app-databases></app-databases>

    <mat-icon class="now-ui-icons travel_info" matTooltip="Select a database and a Web Api you want to align and the number of candidate requests" matTooltipPosition="right"></mat-icon>


  <br>
  <app-apis></app-apis><br>
  <label>Requests:</label>
  <app-requests></app-requests><br>
  <app-settings hidden></app-settings>





    <div class="example-button-row">
      <button mat-button color="primary" (click)="submit()">Submit</button>
    </div>

  <div [innerHTML]="result"></div>
  <mat-progress-bar mode="determinate" *ngIf="probingPhase==true" [value]="probingProgress"></mat-progress-bar>
  <mat-progress-bar mode = "determinate" *ngIf="aligningPhase==true" [value]="aligningProgress"></mat-progress-bar>

  <button mat-stroked-button color="primary" routerLink="/results" routerLinkActive="active"  *ngIf="processFinished==true">Results</button>



</div>
