<div class="panel-header panel-header-lg">

  <h2>Welcome to FiLiPo</h2>
  <h3>Start the alignment here</h3>
</div>
<br>
<br>

<div class="main-content">


 <app-databases></app-databases>
  <br>
  <app-apis></app-apis><br>
  <label>Requests:</label>
  <app-requests></app-requests><br>


    <div class="example-button-row">
      <button mat-button color="primary" (click)="submit()">Submit</button>
    </div>

  <div [innerHTML]="result"></div>
  <mat-progress-bar mode="determinate" [value]="probingProgress"></mat-progress-bar><br>
  <mat-progress-bar mode = "determinate" [value]="aligningProgress"></mat-progress-bar>

</div>
