<div class="panel-header panel-header-sm">
</div>
<br><br>
<div class="main-content">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Global Settings">

      <mat-grid-list cols="4" rowHeight="3:1">

        <mat-grid-tile>
          <mat-form-field class="logpath">
            <mat-label>Logpath:</mat-label>
            <input matInput type="text"  value="{{config.globals.logpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="outpath">
            <mat-label>Outpath:</mat-label>
            <input matInput type="text"  value="{{config.globals.outpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="dbpath">
            <mat-label>Dbpath:</mat-label>
            <input matInput type="text"  value="{{config.globals.dbpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="scpath">
            <mat-label>Scpath:</mat-label>
            <input matInput type="text"  value="{{config.globals.scpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="secretpath">
            <mat-label>Secret path:</mat-label>
            <input matInput type="text"  value="{{config.globals.secretpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="ipc">
            <mat-label>IPC:</mat-label>
            <input matInput type="text"  value="{{config.globals.ipc}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="memory">
            <mat-label>Memory:</mat-label>
            <input matInput type="text"  value="{{config.globals.memory}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="timeout">
            <mat-label>Timeout:</mat-label>
            <input matInput type="text"  value="{{config.globals.timeout}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-label>Mode: </mat-label>
            <mat-slider
              thumbLabel
              step="1"
              min="0"
              max="3"
              value="{{config.globals.mode}}"></mat-slider>
        </mat-grid-tile>

       <mat-grid-tile>
            <mat-label>Log level:</mat-label>
            <mat-slider
              thumbLabel
              step="1"
              min="0"
              max="4"
              value="{{config.globals.loglevel}}"></mat-slider>

        </mat-grid-tile>

      </mat-grid-list>
      <br>
      <div class="container">
        <button mat-stroked-button color="primary">Save</button>
      </div>

    </mat-tab>

    <mat-tab label="Linkage configuration">
      <mat-grid-list cols="4" rowHeight="3:1">


        <mat-grid-tile>
          <mat-form-field class="similarity-requests">
            <mat-label>Similarity requests:</mat-label>
            <input matInput type="number"  value="{{config.linkage_config.similarity_requests}}">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-form-field class="candidate-requests">
            <mat-label>Candidate requests:</mat-label>
            <input matInput type="number" placeholder="25" value="{{config.linkage_config.candidate_requests}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-label>String similarity:</mat-label>
            <mat-slider
              thumbLabel
              step="0.1"
              min="0"
              max="1"
              value="{{config.linkage_config.string_similarity}}"></mat-slider>
        </mat-grid-tile>

        <mat-grid-tile>

            <mat-label>Record similarity:</mat-label>
            <mat-slider
              thumbLabel
              step="0.1"
              min="0"
              max="1"
              value="{{config.linkage_config.record_similarity}}"></mat-slider>

        </mat-grid-tile>

        <mat-grid-tile>

            <mat-label>Distribution variance:</mat-label>
          <mat-slider
            thumbLabel
            step="0.1"
            min="0"
            value="{{config.linkage_config.distribution_variance}}"
            max="1"></mat-slider>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-label>Error threshold:</mat-label>
            <mat-slider
              thumbLabel
              step="0.1"
              min="0"
              value="{{config.linkage_config.error_threshold}}"
              max="1"></mat-slider>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="traversal-depth">
            <mat-label>Traversal depth:</mat-label>
            <input matInput type="number"  value="{{config.linkage_config.traversal_depth}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="functionality-threshold">
            <mat-label>Functionality threshold:</mat-label>
            <input matInput type="number"  value="{{config.linkage_config.functionality_threshold}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="classifier">
            <mat-label>Classifier:</mat-label>
            <input matInput type="text"  value="{{config.linkage_config.classifier}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="support_mode">
            <mat-label>Support mode:</mat-label>
            <input matInput type="number"  value="{{config.linkage_config.support_mode}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="min_support_match">
            <mat-label>Min support match:</mat-label>
            <input matInput type="number"  value="{{config.linkage_config.min_support_match}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="min_support_nonmatch">
            <mat-label>Min support nonmatch:</mat-label>
            <input matInput type="number"  value="{{config.linkage_config.min_support_nonmatch}}">
          </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Similarity metrics
          </mat-panel-title>
          <mat-panel-description>
            Choose the metrics
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="3:1">
          <mat-grid-tile *ngFor="let metric of metrics">
            <mat-slide-toggle color="primary" [ngModel]=true>{{metric}}</mat-slide-toggle>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-expansion-panel>
      <br>
      <div class="container">
      <button mat-stroked-button color="primary" (click)="onSubmit()">Save</button>
      </div>
    </mat-tab>

    <mat-tab label="APIs2">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Selection:</mat-panel-title>


          <mat-panel-description>
            Selection settings for APIs:
          </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="selection-minsupport-match">
            <mat-label>Min support match:</mat-label>
            <input matInput type="text"  value="{{apis[0].selection[0].min_support_match}}">
          </mat-form-field>
          <mat-form-field class="selection-confidence">
            <mat-label>Confidence:</mat-label>
            <input matInput type="text"  value="{{apis[0].selection[0].confidence}}">
          </mat-form-field>
          <mat-form-field class="selection-minsupport-nonmatch">
            <mat-label>Min support nonmatch:</mat-label>
            <input matInput type="text"  value="{{apis[0].selection[0].min_support_nonmatch}}">
          </mat-form-field>
          <mat-form-field class="selection-type">
            <mat-label>Type:</mat-label>
            <input matInput type="text"  value="{{apis[0].selection[0].type}}">
          </mat-form-field>
          <mat-form-field class="selection-support">
            <mat-label>Support:</mat-label>
            <input matInput type="text"  value="{{apis[0].selection[0].support}}">
          </mat-form-field>
          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle *ngFor="let api of apis">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{api.label}}
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text"  value="{{api.label}}">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>Name: </mat-label>
            <input matInput type="text" value="{{api.name}}">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" value="{{api.url}}">
          </mat-form-field><br>
          <mat-label>Parameters: </mat-label>
          <div class="parameters-container"><mat-form-field class="url">
            <mat-label>Name:</mat-label>
            <input matInput type="text" placeholder="2" value="{{api.parameters[0].name}}">
          </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Status:</mat-label>
              <input matInput type="text"  value="{{api.parameters[0].status}}">
            </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Type:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" value="{{api.parameters[0].type}}">
            </mat-form-field>
            <mat-form-field class="filter">
              <mat-label>Filter:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" value="{{api.parameters[0].filter}}">
            </mat-form-field>
          </div>
          <mat-form-field class="url">
            <mat-label>Format: </mat-label>
            <input matInput type="text" placeholder="2" value="{{api.format}}">
          </mat-form-field>

          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-tab>

    <mat-tab label="DBs2">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let db of dbs">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{db.label}}
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text"  value="{{db.label}}">
          </mat-form-field><br>
          <mat-form-field class="source">
            <mat-label>Name: </mat-label>
            <input matInput type="text" value="{{db.source}}">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" value="{{db.url}}">
          </mat-form-field><br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-tab>


    <mat-tab label="APIs">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              scigraphDOI
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text" placeholder="2" value="scigraphDOI">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>Name: </mat-label>
            <input matInput type="text" placeholder="2" value="Springer SciGraph">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" value="http://api.springernature.com/metadata/{format}?q=doi:{q}&api_key={key}">
          </mat-form-field><br>
          <mat-label>Parameters: </mat-label>
          <div class="parameters-container"><mat-form-field class="url">
           <mat-label>Name:</mat-label>
            <input matInput type="text" placeholder="2" value="q">
          </mat-form-field>
          <mat-form-field class="url">
            <mat-label>Status:</mat-label>
            <input matInput type="text" placeholder="2" value="required">
          </mat-form-field>
          <mat-form-field class="url">
            <mat-label>Type:</mat-label>
            <input matInput type="text" width="50%" placeholder="2" value="https://dblp.org/rdf/schema-2017-04-18#Publication">
          </mat-form-field>
          </div>
          <mat-form-field class="url">
            <mat-label>Format: </mat-label>
            <input matInput type="text" placeholder="2" value="json">
          </mat-form-field>

          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              s2arxiv
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text" placeholder="2" value="s2arxiv">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>Name: </mat-label>
            <input matInput type="text" placeholder="2" value="Semantic Scholar usin ArXiv ID">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" value="https://api.semanticscholar.org/v1/paper/arXiv:{q}">
          </mat-form-field><br>
          <mat-label>Parameters: </mat-label>
          <div class="parameters-container"><mat-form-field class="url">
            <mat-label>Name:</mat-label>
            <input matInput type="text" placeholder="2" value="q">
          </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Status:</mat-label>
              <input matInput type="text" placeholder="2" value="required">
            </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Type:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" value="https://dblp.org/rdf/schema-2017-04-18#Publication">
            </mat-form-field>
          </div>
          <mat-form-field class="url">
            <mat-label>Format: </mat-label>
            <input matInput type="text" placeholder="2" value="json">
          </mat-form-field>

          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              crossrefDOI
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text" placeholder="2" value="crossrefDOI">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>Name: </mat-label>
            <input matInput type="text" placeholder="2" value="CrossRef DOI API">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" value="https://api.crossref.org/works/{doi}">
          </mat-form-field><br>
          <mat-label>Parameters: </mat-label>
          <div class="parameters-container"><mat-form-field class="url">
            <mat-label>Name:</mat-label>
            <input matInput type="text" placeholder="2" value="doi">
          </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Status:</mat-label>
              <input matInput type="text" placeholder="2" value="required">
            </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Type:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" value="https://dblp.org/rdf/schema-2017-04-18#Publication">
            </mat-form-field>
          </div>
          <mat-form-field class="url">
            <mat-label>Format: </mat-label>
            <input matInput type="text" placeholder="2" value="json">
          </mat-form-field>

          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              arxiv
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text" placeholder="2" value="arxiv">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>Name: </mat-label>
            <input matInput type="text" placeholder="2" value="arXiv">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" value="http://export.arxiv.org/api/query?search_query=id:{doi}">
          </mat-form-field><br>
          <mat-label>Parameters: </mat-label>
          <div class="parameters-container"><mat-form-field class="url">
            <mat-label>Name:</mat-label>
            <input matInput type="text" placeholder="2" value="doi">
          </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Status:</mat-label>
              <input matInput type="text" placeholder="2" value="required">
            </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Type:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" value="https://dblp.org/rdf/schema-2017-04-18#Publication">
            </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Filter:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" value="https://dblp.org/rdf/schema-2017-04-18#arxivKey">
            </mat-form-field>
          </div>
          <mat-form-field class="url">
            <mat-label>Format: </mat-label>
            <input matInput type="text" placeholder="2" value="json">
          </mat-form-field>

          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>

      </mat-accordion>

      <button mat-stroked-button color="primary">Add</button>
    </mat-tab>
    <mat-tab label="Databases">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              dblp
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Source:</mat-label>
            <input matInput type="text" placeholder="2" value="C:/Databases/dblp-2020-04-28/dblp-2020-04-28.nt">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" value="C:/Databases/dblp-2020-04-28/tdb/">
          </mat-form-field>
          <br>
          <div class="button-row">
          <button mat-stroked-button color="primary">Save</button>
          <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              moviedb
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Source:</mat-label>
            <input matInput type="text" placeholder="2" value="C:/Databases/linked_mdb/fixed_linkedmdb.nt">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" value="C:/Databases/linked_mdb/tdb">
          </mat-form-field>
          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-stroked-button color="primary">Add</button>
    </mat-tab>

  </mat-tab-group>

</div>
