.source {
  width: 50%;
}

.url {
  width: 50%;
}

.button-row {
  display: table-cell;
  width: 490px;
  margin: 8px 8px 8px 0;
}

.field-row {
  display: table-cell;
  width: 450px;
  margin: 8px 8px 8px 0;
}

mat-form-field {
  margin: 0px 10px 0px 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parameters-container {
  margin-left: 10px;
}


::ng-deep .mat-accent .mat-slider-thumb-label-text {
  color: black;
  text-align: center;
  font-size: large;
  opacity: 0.5;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
  opacity: 0.5;
}

::ng-deep .mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}





