<div class="panel-header panel-header-sm">
</div>
<br><br>
<div class="main-content">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Global Settings" id="globals">

      <mat-grid-list cols="4" rowHeight="3:1">

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Logpath:</mat-label>
            <input matInput type="text" id="logpath" name="logpath" value="{{config.globals.logpath}}">
            </mat-form-field>
           </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Outpath:</mat-label>
            <input matInput type="text"   id="outpath" value="{{config.globals.outpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Dbpath:</mat-label>
            <input matInput type="text"  id="dbpath" value="{{config.globals.dbpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Scpath:</mat-label>
            <input matInput type="text"  id="scpath" value="{{config.globals.scpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Secret path:</mat-label>
            <input matInput type="text"  id="secretpath"  value="{{config.globals.secretpath}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>IPC:</mat-label>
            <input matInput type="text"  id="ipc" value="{{config.globals.ipc}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Memory:</mat-label>
            <input matInput type="text" id="memory" value="{{config.globals.memory}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Timeout:</mat-label>
            <input matInput type="text"   id="timeout" value="{{config.globals.timeout}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-label>Mode: </mat-label>
            <mat-slider
              class="mode"
              id="mode"
              (input)="changeMode($event)"
              thumbLabel
              [displayWith]="formatMode"
              step="1"
              min="0"
              max="3"
              value="{{config.globals.mode}}"></mat-slider>
        </mat-grid-tile>

       <mat-grid-tile>
            <mat-label>Log level:</mat-label>
            <mat-slider
              id="loglevel"
              (input)="changeLogLevel($event)"
              thumbLabel
              step="1"
              min="0"
              max="4"
              value="{{config.globals.loglevel}}"></mat-slider>

        </mat-grid-tile>



      </mat-grid-list>
      <div class="container">
      <button mat-stroked-button id="saveglobals" (click)="saveConfigs()" color="primary">Save</button>
</div>
      <br>
      <mat-label>Ruleset: </mat-label>

      <mat-expansion-panel id="ruleset" hideToggle *ngFor="let rule of ruleset">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{rule.name}}
          </mat-panel-title>
          <mat-panel-description>
            Click to change the rule
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput type="text"  id="rule-name" value="{{rule.name}}">
        </mat-form-field><br>
        <mat-form-field class="source">
          <mat-label>Filter: </mat-label>
          <input matInput type="text" id="rule-filter" value="{{rule.filter}}">
        </mat-form-field><br>
        <button mat-stroked-button color="warn" (click)="removeRule(rule.name)">Remove</button>
      </mat-expansion-panel>



      <mat-expansion-panel *ngIf="isAddRuleset==true">
        <mat-expansion-panel-header>
          <mat-panel-title>New Ruleset
          </mat-panel-title>
          <mat-panel-description>
            Click to add a new ruleset
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="source">
          <mat-label>Name:</mat-label>
          <input matInput type="text"  id="add-rule">
        </mat-form-field><br>
        <mat-form-field class="url">
          <mat-label>Filter: </mat-label>
          <input matInput type="text" id="add-rule-filter">
        </mat-form-field><br>



        <br>
        <div class="button-row">
          <button mat-stroked-button color="primary" (click)="saveNewRule()">Save</button>
        </div>
      </mat-expansion-panel>

      <button mat-stroked-button color="primary" (click)="addNewRule()">Add</button>



    </mat-tab>

    <mat-tab label="Linkage configuration" id="linkage">
      <mat-grid-list cols="4" rowHeight="3:1">


        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Similarity requests:</mat-label>
            <input matInput type="number"   id="similarity_requests" value="{{config.linkage_config.similarity_requests}}">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Candidate requests:</mat-label>
            <input matInput type="number"  id="candidate_requests" placeholder="25" value="{{config.linkage_config.candidate_requests}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-label >String similarity:</mat-label>
            <mat-slider
              id="string_similarity"
              (input)="changeStringSimilarity($event)"
              thumbLabel
              step="0.1"
              min="0"
              max="1"
              value="{{config.linkage_config.string_similarity}}"></mat-slider>
        </mat-grid-tile>

        <mat-grid-tile>

            <mat-label>Record similarity:</mat-label>
            <mat-slider
              id="record_similarity"
              (input)="changeRecordSimilarity($event)"
              thumbLabel
              step="0.1"
              min="0"
              max="1"
              value="{{config.linkage_config.record_similarity}}"></mat-slider>

        </mat-grid-tile>

        <mat-grid-tile>

            <mat-label>Distribution variance:</mat-label>
          <mat-slider
            id="distribution_variance"
            (input)="changeDistributionVariance($event)"
            thumbLabel
            step="0.1"
            min="0"
            value="{{config.linkage_config.distribution_variance}}"
            max="1"></mat-slider>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Candidate responses:</mat-label>
            <input matInput type="number"   id="candidate_responses" value="{{config.linkage_config.candidate_responses}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-label>Error threshold:</mat-label>
            <mat-slider
              id="error_threshold"
              (input)="changeErrorThreshold($event)"
              thumbLabel
              step="0.1"
              min="0"
              value="{{config.linkage_config.error_threshold}}"
              max="1"></mat-slider>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Traversal depth:</mat-label>
            <input matInput type="number"  id="traversal_depth"  value="{{config.linkage_config.traversal_depth}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field >
            <mat-label>Functionality threshold:</mat-label>
            <input matInput type="number" id="functionality_threshold"  value="{{config.linkage_config.functionality_threshold}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Classifier:</mat-label>
            <input matInput type="text"   id="classifier" value="{{config.linkage_config.classifier}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field >
            <mat-label>Support mode:</mat-label>
            <input matInput type="number" id="support_mode"  value="{{config.linkage_config.support_mode}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Min support match:</mat-label>
            <input matInput type="number"   id="min_support_match" value="{{config.linkage_config.min_support_match}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Min support nonmatch:</mat-label>
            <input matInput type="number"  id="min_support_nonmatch" value="{{config.linkage_config.min_support_nonmatch}}">
          </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>

      <div class="container">
        <button mat-stroked-button color="primary" (click)="saveOtherConfigs()">Save</button>
      </div>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Similarity metrics
          </mat-panel-title>
          <mat-panel-description>
            Choose the metrics
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="3:1">
          <mat-grid-tile *ngFor="let metric of similarityMetrics">
            <mat-slide-toggle color="primary"  class="metrics"  [checked]="metricSlider(metric)" (change)="editMetric(metric)">{{metric}}</mat-slide-toggle>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
      <br>


    </mat-tab>

    <mat-tab label="Secret">

      <mat-grid-list cols="1" rowHeight="8:1">
        <mat-grid-tile *ngFor="let secret of secret">
          <mat-form-field>
            <mat-label>Name: </mat-label>
            <input matInput type="text" id="secret-name" value="{{secret.name}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Secret: </mat-label>
            <input matInput type="text" id="secret-secret" value="{{secret.secret}}">
          </mat-form-field>
          <button mat-stroked-button color="warn" (click)="removeSecret(secret.name)">Remove</button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="isAddSecret==true">
          <mat-form-field>
            <mat-label>Name: </mat-label>
            <input matInput type="text" id="add-secret-name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Secret: </mat-label>
            <input matInput type="text" id="add-secret-secret">
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="saveNewSecret()">Save</button>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-stroked-button color="primary" (click)="saveOtherConfigs()">Save</button>
      <button mat-stroked-button color="primary" (click)="addSecret()">Add</button>

    </mat-tab>

    <mat-tab label="APIs">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Selection:</mat-panel-title>


          <mat-panel-description>
            Selection settings for APIs:
          </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Min support match:</mat-label>
            <input matInput type="text"  id="selection-minsupport-match" value="{{apis[0].selection[0].min_support_match}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confidence:</mat-label>
            <input matInput type="text"  id="selection-confidence" value="{{apis[0].selection[0].confidence}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Min support nonmatch:</mat-label>
            <input matInput type="text"  id="selection-minsupport-nonmatch" value="{{apis[0].selection[0].min_support_nonmatch}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type:</mat-label>
            <input matInput type="text"  id="selection-type" value="{{apis[0].selection[0].type}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Support:</mat-label>
            <input matInput type="text"   id="selection-support" value="{{apis[0].selection[0].support}}">
          </mat-form-field>
          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle *ngFor="let api of apis">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{api.label}}
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text"  id="api-label" value="{{api.label}}">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>Name: </mat-label>
            <input matInput type="text" id="api-name" value="{{api.name}}">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" id="api-url" value="{{api.url}}">
          </mat-form-field><br>
          <mat-label>Parameters: </mat-label>
          <div class="parameters-container"><mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput type="text" placeholder="2" id="parameters-name" value="{{api.parameters[0].name}}">
          </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Status:</mat-label>
              <input matInput type="text" id="parameters-status" value="{{api.parameters[0].status}}">
            </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Type:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" id="parameters-type" value="{{api.parameters[0].type}}">
            </mat-form-field>
            <mat-form-field class="filter">
              <mat-label>Filter:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" id="parameters-filter" value="{{api.parameters[0].filter}}">
            </mat-form-field>
          </div>
          <mat-form-field class="url">
            <mat-label>Format: </mat-label>
            <input matInput type="text" placeholder="2" id="api-format" value="{{api.format}}">
          </mat-form-field>

          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn" (click)="removeAPI(api.label)">Remove</button>
          </div>
        </mat-expansion-panel>



        <mat-expansion-panel *ngIf="isChecked==true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              test
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text"  id="add-api-label">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>Name: </mat-label>
            <input matInput type="text" id="add-api-name">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" id="add-api-url">
          </mat-form-field><br>
          <mat-label>Parameters: </mat-label>
          <div class="parameters-container"><mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput type="text" placeholder="2" id="add-parameters-name">
          </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Status:</mat-label>
              <input matInput type="text" id="add-parameters-status">
            </mat-form-field>
            <mat-form-field class="url">
              <mat-label>Type:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" id="add-parameters-type">
            </mat-form-field>
            <mat-form-field class="filter">
              <mat-label>Filter:</mat-label>
              <input matInput type="text" width="50%" placeholder="2" id="add-parameters-filter">
            </mat-form-field>
          </div>
          <mat-form-field class="url">
            <mat-label>Format: </mat-label>
            <input matInput type="text" placeholder="2" id="add-api-format">
          </mat-form-field>

          <br>
          <div class="button-row">
            <button mat-stroked-button color="primary" (click)="saveNewAPI()">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>



      </mat-accordion>





      <button mat-stroked-button color="primary" (click)="addAPI()">Add</button>
    </mat-tab>


    <mat-tab label="Databases">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let db of dbs">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{db.label}}
            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text"  id="db-label" value="{{db.label}}">
          </mat-form-field><br>
          <mat-form-field class="source">
            <mat-label>Name: </mat-label>
            <input matInput type="text" id="db-source" value="{{db.source}}">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" id="db-url" value="{{db.url}}">
          </mat-form-field><br>
          <div class="button-row">
            <button mat-stroked-button color="primary">Save</button>
            <button mat-stroked-button color="warn" (click)="removeDatabase(db.label)">Remove</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle *ngIf="isAddData == true">
          <mat-expansion-panel-header>
            <mat-panel-title>

            </mat-panel-title>
            <mat-panel-description>
              Click to change the settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="source">
            <mat-label>Label:</mat-label>
            <input matInput type="text"  id="add-db-label">
          </mat-form-field><br>
          <mat-form-field class="source">
            <mat-label>Source: </mat-label>
            <input matInput type="text" id="add-db-source">
          </mat-form-field><br>
          <mat-form-field class="url">
            <mat-label>URL: </mat-label>
            <input matInput type="text" placeholder="2" id="add-db-url">
          </mat-form-field><br>
          <div class="button-row">
            <button mat-stroked-button color="primary" (click)="saveNewData()">Save</button>
            <button mat-stroked-button color="warn">Remove</button>
          </div>
        </mat-expansion-panel>


      </mat-accordion>

      <button mat-stroked-button color="primary" (click)="addDatabase()">Add</button>

    </mat-tab>



  </mat-tab-group>

</div>
